<div class="findPartsContainer">
  <select class="step1">
    <option value="">Choose Option</option>
    <option value="">option1</option>
    <option value="">option2</option>
    <option value="">option3</option>
    <option value="">option4</option>
  </select>
  <select class="step2">
    <option value="">Choose Option</option>
    <option value="">option1</option>
    <option value="">option2</option>
    <option value="">option3</option>
    <option value="">option4</option>
  </select>
  <select class="step3">
    <option value="">Choose Option</option>
    <option value="">option1</option>
    <option value="">option2</option>
    <option value="">option3</option>
    <option value="">option4</option>
  </select>
  <select class="step4">
    <option value="">Choose Option</option>
    <option value="">option1</option>
    <option value="">option2</option>
    <option value="">option3</option>
    <option value="">option4</option>
  </select>
  <select class="step5">
    <option value="">Choose Option</option>
    <option value="">option1</option>
    <option value="">option2</option>
    <option value="">option3</option>
    <option value="">option4</option>
  </select>
  <input type="button" value="Search" class="submitBtn">
	<input type="button" value="Reset" class="resetBtn">
</div>