.productView-details.steps-section{
  width: 100%;
    #option-next{
      float: right;
    }
}

.productView-description{
  width: 100%;
}

#step-breadcrumb {
    margin: 20px 0;
    padding: 0;
    width: 100%;
    float: left;
      li {
          list-style: none;
          float: left;
          padding: 0 15px;
          font-family: 'Roboto Condensed',sans-serif;
          font-size: 16px;
          font-weight: 500;
          position: relative;
          width: 16.66%;
          text-align: center;
      }
}

.bulkorder-content {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    float: left;
    .form-label{
      font-weight: bold;
    }
      .form-field{
        float: left;
        width: 100%;
        .button{
          padding: 10px 15px;
        }
        .productView-images{
          width: 50%;
        }
        .productView-description{
          width: 50%;
        }
      }
  }
